* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  padding: 0.5rem;
  width: 100%;
  position: fixed;
  background: radial-gradient(circle, rgba(243, 156, 18, 1) 0%, rgba(252, 70, 107, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera .link-logo .logo {
  width: 4rem;
  height: auto;
  border-radius: 0.5rem;
  vertical-align: middle;
}

.cabecera .menu {
  display: flex;
  gap: 1rem;
}

.cabecera .menu li {
  list-style: none;
}

.cabecera .menu a {
  transition: all 0.5s ease;
  font-family: "Arimo", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: bold;
}

.cabecera .menu a:hover {
  background-color: black;
}

main {
  padding-top: 5rem;
  /* Ajusta según la altura del header */
}

.fondo {
  min-height: 100vh;
  background-image: url('img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
  .cabecera {
    flex-direction: column;
    padding: 1rem;
  }

  .cabecera .link-logo .logo {
    width: 4rem;
  }

  .cabecera .menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

#laCarta {
  cursor: pointer;
  text-decoration: none;
}

section {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

h2 {
  font-family: "Arimo", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  background: radial-gradient(circle, rgba(243, 156, 18, 1) 0%, rgba(252, 70, 107, 1) 100%);
  font-weight: bold;
  letter-spacing: 2px;
}

p {
  font-family: "Arimo", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  column-gap: 0.5rem;
}

.card-container .card {
  border: 2px solid black;
  border-radius: 2rem;
}

.card-container .card .img-service {
  border-radius: 2rem;
}

footer {
  height: 5rem;
  width: 100%;
  background: radial-gradient(circle, rgba(243, 156, 18, 1) 0%, rgba(252, 70, 107, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

#fecha {
  padding: 0.5rem;
}

footer .brands {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem ;
}

footer .brands a {
  color: white;
}

footer .brands a:hover {
  color: black;
}